body {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(21, 34, 53);
  --secondary-color: rgb(255, 187, 0);
  --primary-clicked-color: rgb(45, 70, 108);
  --secondary-clicked-color: rgb(179, 131, 0);
  --light-color: rgb(213, 213, 213);
  --text-color: white;
  --text-colored-1: rgb(21, 34, 53);
  --text-colored-2: rgb(255, 187, 0);
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar .nav_links ul {
  display: flex;
  gap: 10px;
}
.navbar .dropdown_menu {
  position: relative;
}
.navbar .dropdown_menu ul {
  display: none;
  position: absolute;
  background-color: #444;
  right: 10px;
  padding: 10px;
  border-radius: 5px;
}
.navbar .dropdown_menu ul.show {
  display: block;
}
