<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <!-- Font Awesome 5.15.4 CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% block stylesheets %} {% endblock %} {% block javascripts %} {% block
    importmap %}{{
      importmap("app")
    }}{% endblock %} {% endblock %}
  </head>
  <body>
    <div class="dashboard">
      <div class="sidebar">
        <a href="{{ path('app_home') }}"
          ><i class="fas fa-arrow-left"></i> Back to site</a
        >
        <h1>Dashboard</h1>
        <ul>
          <li><a href="{{ path('app_product_index') }}">Products</a></li>
          <li><a href="{{ path('app_logout') }}">Logout</a></li>
        </ul>
      </div>
      <div class="content">{% block content %} {% endblock %}</div>
    </div>
  </body>
</html>
